body, html {
        height: 100%
}

h1      {text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
        float:top;
        text-align:center;
        font-size:60px;
        color:white;
        }

.container {margin: 0 auto;
            width: 80%;
            background-color: rgba(0, 0, 0, 0.8);
                
        }

h2  {text-align:center;
        font-size:40px;
        color:white;
        text-shadow: #FC0 1px 0 10px;}



.answers   {text-align:center;
            margin-bottom:50px;
                color:white;
                text-shadow: 1px 1px 2px pink;}

#bg {
        
        background-image: url("../images/triviapic.jpg");
        min-height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

}

#finish   {
        margin-left:47%;
           margin-top:50px;
            color:red;
            font-size:20px;
                border:inset}

#finish:hover  {background:rgb(160, 153, 154);
        color:rgb(122, 9, 9)}
            
            /* BellaManiXO */

#line1          {text-shadow: #FC0 1px 0 10px;
        text-align:center;
                margin-top:50px;
                font-size: 60px;
                color:rgb(255, 255, 255);
                }



#line2  {text-shadow: #FC0 1px 0 10px;
        margin-top: 50px;
        text-align:center;
        color:rgb(255, 255, 255);
        font-size:60px;
        }

#line3  {text-shadow: #FC0 1px 0 10px;
        margin-top:50px;
        text-align:center;
        color:rgb(255, 255, 255);
        font-size:60px;}

#begin  {
        background:rgb(255, 255, 255);
        color:red;
        text-align:center;
        margin:0px 400px;
        font-size:50px;
        border:outset
                }

#begin:hover    {
                background:rgb(160, 153, 154);
                color:rgb(122, 9, 9)}

.timer  {font-size:60px;
        color:red;
        text-align:center;
        text-shadow: 1px 1px 2px red, 0 0 1em red, 0 0 0.2em blue;}


.input   {text-shadow: #FC0 1px 0 10px;
        font-size:40px;
        text-align:center;
        color:white;
        }

      /* 980 pixels */
      @media screen and (max-width: 980px) {
                
.container      {margin: 0 auto;
                width: 80%;
                background-color: rgba(146, 70, 70, 0.8);}
                                        
#begin          {clear:both;
                background:rgb(255, 255, 255);
                color:red;
                text-align:center;
                margin:0px 300px;
                font-size:50px;
                border:outset}       
      }        
        
        /* 768 pixels */
         @media screen and (max-width: 768px) {
                        
.container      {margin: 0 auto;
                        width: 80%;
                        background-color: rgba(45, 0, 247, 0.8);}

#begin          {clear:both;
                background:rgb(255, 255, 255);
                color:red;
                text-align:center;
                margin:0px 200px;
                font-size:50px;
                border:outset}       
                
                }
        
        
        /* 640 pixels */
        @media screen and (max-width: 640px) {
                        
.container      {margin: 0 auto;
                width: 90%;
                background-color: rgba(2, 196, 255, 0.8);}
                                    
#begin          {clear:both;
                background:rgb(255, 255, 255);
                color:red;
                text-align:center;
                margin:0px 50px;
                font-size:50px;
                border:outset}     
                
.timer          {font-size:45px;
                color:red;
                text-align:center;}
        
#finish         {margin-left:100px;
                margin-top:50px;
                color:red;
                font-size:20px;
                border:inset}                

.answers        {text-align:justify;
                margin-bottom:50px;
                color:white;}

        }